  <div class="row">
    <div class="col-lg-10 col-md-9 col-sm-9">
      <div class="row no-gutter">
        <div class="col-xs-12">
          <div class="card">
            <div class="card-heading">
              <h2>Kanban</h2>
            </div>
            <div class="card-tools">
              <ul class="list-inline">
                <li class="dropdown">
                  <a md-ink-ripple data-toggle="dropdown" class="md-btn md-flat md-btn-circle">
                    <i class="mdi-navigation-more-vert text-md"></i>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-scale pull-right pull-up top text-color">
                    <li><a href>Action</a></li>
                    <li><a href>Another action</a></li>
                  </ul>
                </li>
              </ul>
            </div>
            <div class="card-body">
                <div class="row" ng-controller="KanbanCtrl">

                    <div class="col-sm-2 m-r-xs" ng-repeat="(listName, list) in lists">
                        <div class="card"
                             ng-class="{'red-700': (listName == 'Incident'), 'indigo': (listName != 'Incident')}"
                             dnd-list="list.items"
                             dnd-inserted="insertedCallback(item, list.key, event)"
                             dnd-horizontal-list="true"
                             dnd-external-sources="true"
                        >
                            <div class="card-heading" ng-click="toggleBacklogCollapse()">
                                <h2>{{ listName }}</h2>
                            </div>
                            <div class="card-body xs" ng-class="{collapse: (listName=='Backlog' && backlogCollapse)}">
                                <div class="list-group no-bg">
                                    <div
                                       ng-click="taskClick(item);"
                                       class="list-group-item bg-white text-dark m-b-xs"
                                       ng-repeat="item in list.items"
                                       dnd-draggable="item"
                                       dnd-moved="list.items.splice($index, 1)"
                                       dnd-effect-allowed="move"
                                       dnd-selected="selected = item"
                                       ng-class="{'selected': (selected == item), 'text-ellipsis': (selected != item)}"
                                    >
                                        <a class="pull-right external-link" target="_teamleader" ng-href="https://app.teamleader.eu/task_detail.php?id={{ item.id }}"><i class="fa fa-external-link"></i></a>

                                        <div>{{ item.milestone.project.title }} - {{ item.milestone.title }}</div>
                                        <div ng-bind-html="item.description | nl2br | unsafe"></div>

                                        <div class="row no-gutter m-t-sm">
                                            <small class="col-sm-6">{{ (item.estimated_time_required*60) | juration }}</small>
                                            <form ng-submit="addTimetrack(item)">
                                                <input class="col-sm-6 text-right" type="text" juration ng-model="item.tracktime" />
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-3">
      <h4 class="m-l">Team</h4>
      <ul class="list-group no-bg no-borders pull-in" ng-controller="UsersCtrl">
        <li class="list-group-item clearfix" ng-repeat="user in users">
          <div class="clear text-ellipsis">
            <div><a href="" ng-class="{'font-bold': (user.email == selected.email)}">{{ user.name }}</a></div>
            <small class="text-muted-dk">{{ user.email }}</small>
          </div>
        </li>
      </ul>
    </div>
  </div>
